/* Basic Styles */
body {
    font-family:  Arial, sans-serif  ;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: white;
}

/* Header */
header {
    background-color: darkblue;
    color: white;
    padding: 1em;
    text-align: center;
}

header h1 {
    margin: 0;
}

#navbar {
    margin-top: 10px;
}

#navbar a {
    color: white;
    text-decoration: none;    /*this step make me donot decoration the text ex:Idont underline the text */ 
    padding : 10px 15px;
}

#navbar a:hover {           /* hover :boxes color of navbar  when I click on About Me,... */
    background-color:lightskyblue;
}

/* Main Content */
main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

.profile-pic {
    width: 150px;
    border-radius: 50%;
}

/* Skills Section */

table {
    width: 100%;
    border-collapse: collapse;   /*this step make text move away from 7awaf el box */
}
.top1{
    text-align:center;
}
table, th, td {
    border: 1px solid black;
    padding: 8px;
}
td{
    text-align: center;
}

th {
    background-color: lightskyblue;
}

/* Contact Form */
form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

label {
    margin-top: 10px;
}

input, textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid darkblue;
    border-radius: 4px;
}

button {
    background-color: darkblue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;  /* when Iput the mouse on the button it make shape el pointer */
}

button:hover {     /* hover : the box of button , Igive it color when I click on it the button's color change */
    background-color:lightskyblue;
}

/* Footer */
footer {
    background-color: darkblue;
    color: white;
    padding: 1em;
    text-align: center;
}

footer nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

footer nav a:hover {
    background-color: lightskyblue;
}

/* Attribute Selector */
input[type="text"], input[type="email"] {
    width: 100%;
}